.Item {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
}

.Item-img img{
  margin-right: 15px;
  width: 60px;
  height: 60px;
}

/* .Item-content {
  background-color: red;
} */

.Item-title, .Item-price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.Item-desc {
  font-size: 14px;
  color: #333333;
}

.Item-price {
  text-align: right;
}

.Item-addToCart {
  width: 90px;
  padding: 5px 10px;
  background-color: #f1c64e;
  border: 1px solid #333333;
  border-radius: 3px;
  cursor: pointer;
}

.Item-addToCart:hover {
  background-color: #ffaa3f;
}

.Item-addToCart:focus {
  outline: 0;
}

.Item-addToCart:active {
  transform: scale(0.9);
}